/* ---=====VARIABLES=====--- */
:root {
	--bg-color: #FFFFFF;
	--font-color: #000000;
	--border-color: #000000;
	--path-color: #DDDDDD;
	--border-size: 2px;
}


/* ---=====GLOBAL=SETTINGS=====--- */
* {
	margin: 0;
	padding: 0;
	border: none;

	background: none;
	box-sizing: border-box;

	font: normal normal 14px/1.5 Arial, Helvetica, sans-serif;
	color: var(--font-color);
}

body {
	height: 100vh;
	background: var(--bg-color);
}

.-positioned {
	position: absolute;
}


/* ---=====HEADER=====--- */
.header {
	padding: 0 6px;
	border-bottom: var(--border-size) solid var(--border-color);
	
	height: 60px;

	display: flex;
	/* TODO */
	align-items: center;
}


/* ---=====MAIN=====--- */
.main {
	padding: 30px 6px; 
	display: flex;
	justify-content: center;
}

#game-map {
	position: relative;
}

.path {
	border: var(--border-size) solid var(--border-color);
}
.path#outer {
	height: 100%;
	box-sizing: content-box;
	background: var(--path-color);

	position: relative;
}
.path#inner {
	box-sizing: border-box;
	background: var(--bg-color);
}

.hero {
	background: green;
	transition: left 200ms, top 200ms;
}

#mark-start {
	background: var(--font-color);
}

.sidebar {
	margin-left: 30px;
	padding: 20px 30px;
	border: var(--border-size) solid var(--border-color);

	width: 500px;

	.title {
		font-size: 1.2em;
		font-weight: bold;
		text-align: center;
	}
}